<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="main">
        <div class="add_blog">
            <p><%= user %> blog posts </p>
            <form action="/blog" method="POST">
                <p>Create new blog post:</p>
                <input type="text" placeholder="title" name="title">
                <input type="text" placeholder="content" name="content">
                <input type="submit" value="Create blog post">
            </form>
        </div>
        <br><br>
        <div class="blogs"> 
            <% for(var i=0; i<listings.length; i++) {%>
                    <div class="blog">
                        <h5><%= listings[i].title %></h5>
                        <p><%= listings[i].content %></p>
                        <button class="delete_btn" id="<%= listings[i].id %>">Delete</button>
                    </div>
                    <br>
            <% } %>
    </div>
    </div>
<script>
    document.querySelectorAll('.delete_btn').forEach(btn => {
        btn.addEventListener('click', e => {
            fetch(`/blog/${e.target.id}`, {method: 'DELETE'})
            .then(e.target.parentElement.remove());
        });
    });
</script>
</body>
</html>


